#click_here_button {
background-color: beige;
border: solid 1px rgb(198, 198, 160)
color(white);
font-size: 30px;
padding: 20px 30px;
cursor: pointer;
box-shadow: -1px 2px 11px -1px rgba(0, 0, 0, .2);
border-radius:5px
}
.background_hover{
    background-color: azure;
}

html, body{
    height: 100%
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}